<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Care360 - A complete 360° medical management solution.</title>

        <!-- Meta -->
        <meta name="description" content="Marketplace for Bootstrap Admin Dashboards" />
        <meta property="og:title" content="Admin Templates - Dashboard Templates" />
        <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards" />
        <meta property="og:type" content="Website" />
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" />
        <link rel="stylesheet" href="{% static 'assets/fonts/remix/remixicon.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/main.min.css' %}" />
        <!-- Scrollbar CSS -->
        <link rel="stylesheet" href="{% static 'assets/vendor/overlay-scroll/OverlayScrollbars.min.css' %}" />
    </head>

    <body>
        <!-- Loading starts -->
        <div id="loading-wrapper">
            <div class="spin-wrapper">
                <div class="spin">
                    <div class="inner"></div>
                </div>
                <div class="spin">
                    <div class="inner"></div>
                </div>
                <div class="spin">
                    <div class="inner"></div>
                </div>
                <div class="spin">
                    <div class="inner"></div>
                </div>
                <div class="spin">
                    <div class="inner"></div>
                </div>
                <div class="spin">
                    <div class="inner"></div>
                </div>
            </div>
        </div>
        <!-- Loading ends -->

        <!-- Page wrapper starts -->
        {% include 'base/wrapper.html' %}
        <!-- Page wrapper ends -->

        {% include 'base/js.html' %}

        {% block extrascript %}
        {% endblock extrascript %}
    </body>
</html>
