{% load static %}

<nav id="sidebar" class="sidebar-wrapper">
    <!-- Sidebar profile starts -->
    <div class="sidebar-profile">
        <img src="{% static 'assets/images/user6.png' %}" class="img-shadow img-3x me-3 rounded-5" alt="Hospital Admin Templates" />
        <div class="m-0">
            <h5 class="mb-1 profile-name text-nowrap text-truncate">Nick Gonzalez</h5>
            <p class="m-0 small profile-name text-nowrap text-truncate">Dept Admin</p>
        </div>
    </div>
    <!-- Sidebar profile ends -->

    <!-- Sidebar menu starts -->
    <div class="sidebarMenuScroll">
        <ul class="sidebar-menu">
            <li class="active current-page">
                <a href="{% url 'dashboard:dashboard' %}">
                    <i class="ri-home-6-line"></i>
                    <span class="menu-text">Hospital Dashboard</span>
                </a>
            </li>
            <li>
                <a href="dashboard2.html">
                    <i class="ri-home-smile-2-line"></i>
                    <span class="menu-text">Medical Dashboard</span>
                </a>
            </li>
            <li>
                <a href="dashboard3.html">
                    <i class="ri-home-5-line"></i>
                    <span class="menu-text">Dentist Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#!">
                    <i class="ri-stethoscope-line"></i>
                    <span class="menu-text">Doctors</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="doctor-dashboard.html">Doctors Dashboard</a>
                    </li>
                    <li>
                        <a href="doctors-list.html">Doctors List</a>
                    </li>
                    <li>
                        <a href="doctors-cards.html">Doctors Cards</a>
                    </li>
                    <li>
                        <a href="doctors-profile.html">Doctors Profile</a>
                    </li>
                    <li>
                        <a href="add-doctors.html">Add Doctor</a>
                    </li>
                    <li>
                        <a href="edit-doctors.html">Edit Doctor</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#!">
                    <i class="ri-heart-pulse-line"></i>
                    <span class="menu-text">Patients</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="patient-dashboard.html">Patients Dashboard</a>
                    </li>
                    <li>
                        <a href="patients-list.html">Patients List</a>
                    </li>
                    <li>
                        <a href="add-patient.html">Add Patient</a>
                    </li>
                    <li>
                        <a href="edit-patient.html">Edit Patient Details</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#!">
                    <i class="ri-nurse-line"></i>
                    <span class="menu-text">Staff</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="staff.html">Staff List</a>
                    </li>
                    <li>
                        <a href="add-staff.html">Add Staff</a>
                    </li>
                    <li>
                        <a href="edit-staff.html">Edit Staff Details</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#!">
                    <i class="ri-dossier-line"></i>
                    <span class="menu-text">Appointments</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="appointments.html">Appointments</a>
                    </li>
                    <li>
                        <a href="appointments-list.html">Appointments List</a>
                    </li>
                    <li>
                        <a href="book-appointment.html">Book Appointment</a>
                    </li>
                    <li>
                        <a href="edit-appointment.html">Edit Appointment</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#!">
                    <i class="ri-building-2-line"></i>
                    <span class="menu-text">Departments</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="departments-list.html">Departments List</a>
                    </li>
                    <li>
                        <a href="add-department.html">Add Department</a>
                    </li>
                    <li>
                        <a href="edit-department.html">Edit Department</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#!">
                    <i class="ri-secure-payment-line"></i>
                    <span class="menu-text">Accounts</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="income.html">Income</a>
                    </li>
                    <li>
                        <a href="payments.html">Payments</a>
                    </li>
                    <li>
                        <a href="invoices.html">Invoices</a>
                    </li>
                    <li>
                        <a href="invoice-details.html">Invoice Details</a>
                    </li>
                    <li>
                        <a href="create-invoice.html">Create Invoice</a>
                    </li>
                    <li>
                        <a href="expenses.html">Expenses</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#!">
                    <i class="ri-group-2-line"></i>
                    <span class="menu-text">Human Resources</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="hr-approvals.html">HR Approvals</a>
                    </li>
                    <li>
                        <a href="staff-attendance.html">Attendance</a>
                    </li>
                    <li>
                        <a href="staff-leaves.html">Staff Leaves</a>
                    </li>
                    <li>
                        <a href="staff-holidays.html">Holidays</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#!">
                    <i class="ri-money-dollar-circle-line"></i>
                    <span class="menu-text">Salaries</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="salaries.html">Salary List</a>
                    </li>
                    <li>
                        <a href="payslip.html">Payslip</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#!">
                    <i class="ri-hotel-bed-line"></i>
                    <span class="menu-text">Rooms</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="room-statistics.html">Statistics</a>
                    </li>
                    <li>
                        <a href="rooms-allotted.html">Rooms Allotted</a>
                    </li>
                    <li>
                        <a href="rooms-by-dept.html">Rooms By Department</a>
                    </li>
                    <li>
                        <a href="available-rooms.html">Available Rooms</a>
                    </li>
                    <li>
                        <a href="book-room.html">Book Room</a>
                    </li>
                    <li>
                        <a href="add-room.html">Add Room</a>
                    </li>
                    <li>
                        <a href="edit-room.html">Edit Room</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#!">
                    <i class="ri-car-washing-line"></i>
                    <span class="menu-text">Ambulance</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="ambulance-list.html">Ambulance List</a>
                    </li>
                    <li>
                        <a href="add-ambulance.html">Add Ambulance</a>
                    </li>
                    <li>
                        <a href="edit-ambulance.html">Edit Ambulance</a>
                    </li>
                    <li>
                        <a href="ambulance-call-list.html">Ambulance Call List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="events.html">
                    <i class="ri-calendar-line"></i>
                    <span class="menu-text">Event Management</span>
                </a>
            </li>
            <li>
                <a href="gallery.html">
                    <i class="ri-tent-line"></i>
                    <span class="menu-text">Gallery</span>
                </a>
            </li>
            <li>
                <a href="news.html">
                    <i class="ri-news-line"></i>
                    <span class="menu-text">News & Updates</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Sidebar menu ends -->

    <!-- Sidebar contact starts -->
    <div class="sidebar-contact">
        <p class="fw-light mb-1 text-nowrap text-truncate">Emergency Contact</p>
        <h5 class="m-0 lh-1 text-nowrap text-truncate">0987654321</h5>
        <i class="ri-phone-line"></i>
    </div>
    <!-- Sidebar contact ends -->
</nav>