[Unit]
Description=Care360-uWSGI-instance
After=network.target postgresql-11.service

[Service]
User=centos
Group=nginx
WorkingDirectory=/opt/Care360
Environment="PATH=/opt/Care360/venv/bin"
ExecStart=/opt/Care360/venv/bin/uwsgi --ini /opt/Care360/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
