<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Care360 - A complete 360° medical management solution.</title>

        <!-- Meta -->
        <meta name="description" content="Marketplace for Bootstrap Admin Dashboards" />
        <meta property="og:title" content="Admin Templates - Dashboard Templates" />
        <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards" />
        <meta property="og:type" content="Website" />
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" />
        <link rel="stylesheet" href="{% static 'assets/fonts/remix/remixicon.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/main.min.css' %}" />
    </head>

    <body class="login-bg">
        <!-- Container starts -->
        <div class="container">
            <!-- Auth wrapper starts -->
            <div class="auth-wrapper">
                <!-- Form starts -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="auth-box">
                        <a href="{% url 'dashboard:dashboard' %}" class="auth-logo mb-4">
                            <img src="{% static 'assets/images/logo-dark.svg' %}" alt="Bootstrap Gallery" />
                        </a>

                        <h4 class="mb-4">Login</h4>

                        <div class="mb-3">
                            <label class="form-label" for="email">Your email <span class="text-danger">*</span></label>
                            {{ form.email }}
                        </div>

                        <div class="mb-2">
                            <label class="form-label" for="pwd">Your password <span class="text-danger">*</span></label>
                            <div class="input-group">
                                {{ form.password }}
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="ri-eye-line text-primary"></i>
                                </button>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mb-3">
                            <a href="forgot-password.html" class="text-decoration-underline">Forgot password?</a>
                        </div>

                        <div class="mb-3 d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a href="{% url 'customauth:register' %}" class="btn btn-secondary">Not registered? Signup</a>
                        </div>
                    </div>
                </form>
                <!-- Form ends -->
            </div>
            <!-- Auth wrapper ends -->
        </div>
        <!-- Container ends -->
    </body>
</html>
